.font{
  font-family: 'Merienda', cursive;

}








/* .answerchoice {
	border: 5px solid black;
  border-radius: 5%;
	width: 40%;
	color: black;
  text-align: center;
  margin: 30px auto;
  font-size: 20px;
  background-color: white;
  line-height: 120px;

}

img {
  max-height: 250px;
  width: auto;
  background-size: cover;
}

#answerblock {
  text-align: center;

}

#questionblock {
  text-align: center;
  font-weight: bold;
}

#reset {
  visibility: visible;
}

body {
  background-color: antiquewhite;
  background-image: url("../assets/images/TrivialTrivia\ .jpg");
  background-size: cover;
  font-family: 'Karla', sans-serif;
}

h1 {
  text-align: center;
  color: white;
  font-weight: bolder;
  padding: 20px;
  font-size: 45px;
}



h2,  {
  margin: 30px;
  font-weight: bold;
} */


/* .btn {
  position: relative;
  bottom: -150px;
} */ 